<link rel="stylesheet" href="/yadl-website/css/reactflow.css" />
<link rel="stylesheet" href="/yadl-website/css/devices.min.css" />
<link rel="stylesheet" href="/yadl-website/css/allotment.css" />

<div class="yadl-editor-container">
    <div id="editor"></div>
     {{ if .IsNamedParams }}
      <div id="editor-code" data-code="{{ .Get "code" }}"></div>
    {{ end }}

    {{ with resources.Get "YadlEditor.tsx" }}
      {{ $options := dict "defines" (dict "process.env.NODE_ENV" "\"development\"" "process.env.BaseURL" (printf `"%s"` $.Site.BaseURL)) }}
      {{ $script := . | js.Build $options }}
      <script src="{{ $script.RelPermalink }}" defer></script>
    {{ end }}
</div>
