<script type="module" crossorigin src="/assets/index.js"></script>
<link rel="stylesheet" crossorigin href="/assets/index.css">

<div class="yadl-editor-container">
    <div id="editor"></div>
     {{ if .IsNamedParams }}
      <div id="editor-code" data-code="{{ .Get "code" }}"></div>
    {{ end }}

    <!-- {{ with resources.Get "YadlEditor.tsx" }}
      {{ $options := dict "defines" (dict "process.env.NODE_ENV" "\"development\"" "process.env.BaseURL" (printf `"%s"` $.Site.BaseURL)) }}
      {{ $script := . | js.Build $options }}
      <script src="{{ $script.RelPermalink }}" defer></script>
    {{ end }} -->
</div>

<div class="border-solid border-primary bg-neutral-content border-4 rounded-lg relative over" style="width: 289px; height: 304px;"><div class="text-primary text-2xl flex justify-center"><div class="border-solid border-primary border-4 rounded-full size-20 flex justify-center absolute -top-10 bg-neutral-content items-center font-bold text-[2em]">2</div></div><div class="text-primary text-lg font-extrabold flex justify-center pt-12" style="
    padding-top: calc(var(--spacing) * 12);
">Transformer</div><div class="flex justify-center"><div></div></div><ul class="list-disc px-5 pt-3"><li class="text-primary text-sm">Innovative neural networks</li><li class="text-primary text-sm">Processes sequential data for enhanced language tasks</li></ul></div>